__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
ENV/

# Env files
.env

# IDE / editor
.vscode/
.idea/

# Pytest / packaging
.pytest_cache/
pip-wheel-metadata/

# Windows
Thumbs.db
desktop.ini

# Virtual environment (local)
.venv/

# Local certs (do not commit keys/certs)
certs/
*.pem
*.key

debug/
SBTE_2_1024044112_virgin_markets.json
SBTE_2_1024044128_virgin_markets.json
virgin_event_SBTE_2_1024044112.json
virgin_event_SBTE_2_1024044128.json
