__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
ENV/

# Env files
.env

# IDE / editor
.vscode/
.idea/

# Pytest / packaging
.pytest_cache/
pip-wheel-metadata/

# Windows
Thumbs.db
desktop.ini
